

.m-todo-list .btn-add-todo {
  margin: 1rem 0;
}

@media (min-width: 576px) {
  .m-todo-list .btn-add-todo {
    margin: 0 0 1rem;
  }
}

@media (min-width: 992px) {
  .m-todo-list .btn-add-todo {
    margin: 0;
  }
}

